<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>125537870036-bdh77m0o8bmjrcamgikfa5bso9aovit8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125537870036-bdh77m0o8bmjrcamgikfa5bso9aovit8</string>
	<key>API_KEY</key>
	<string>AIzaSyCIXk2482ZZ5WJka0mBCa_JXwP59IHYEzA</string>
	<key>GCM_SENDER_ID</key>
	<string>125537870036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PG.ShoppingListApp</string>
	<key>PROJECT_ID</key>
	<string>myfirstshoppinglist-c003f</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstshoppinglist-c003f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:125537870036:ios:e7790678c1d08526</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstshoppinglist-c003f.firebaseio.com</string>
</dict>
</plist>